<h1> Welcome <%= current_account.name %> </h1>
<h3> Your Account Token is (TODOSADDON_ACCESS_TOKEN)<%= current_account.token %> </h1>
<h3> Your Account Url is (TODOSADDON_URL)<%= account_url(current_account)%> </h1>

Here is your stuff

<%- current_account.todos.each do |todo| %>
<p> <%= "#{todo.id} - #{todo.text} "%> </p>
<%- end %>
